@mon-color: #00A0B0;
@tue-color: #6A4A3C;
@wed-color: #490A3D;
@thu-color: #BD1550;
@fri-color: #E97F02;
@sat-color: #F8CA00;
@sun-color: #8A9B0F;

@th-border-top: 5pt;

body {
 font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
 font-weight: 200;
 color: rgba(0, 0, 0, 1);
 margin: 0;
 padding: 0;
 line-height: 1.5;
 font-size: 28pt;
 text-align: center;
}

img {
page-break-before: always;
width: 3024pt/4;
height: 1998pt/4;
}

h1 {
  text-align: center;
  font-weight: 100;
  margin: 50pt auto;
}

.calendar {
  width: 77%;
  margin: 30pt auto;
  border-collapse: collapse;
}

th {
  font-size: 16pt;
  height: 40pt;
  font-weight: 100;
  color: white;
}

td, th {
  position: relative;
  text-align: center;
  width: 14.28%;
  padding: 3pt;
}

// distance between the first row and thead
tr:nth-child(1) td {
  border-top: 30pt white solid;
}

th:nth-child(1) {
  color: @mon-color;
  border-top: @th-border-top solid @mon-color;
}

td:nth-child(1) {
  color: @mon-color;
}

th:nth-child(2) {
  color: @tue-color;
  border-top: @th-border-top solid @tue-color;
}

td:nth-child(2) {
  color: @tue-color;
}

th:nth-child(3) {
  color: #490A3D;
  border-top: @th-border-top solid #490A3D;
}

td:nth-child(3) {
  color: #490A3D;
}

th:nth-child(4) {
  color: #BD1550;
  border-top: @th-border-top solid #BD1550;

}

td:nth-child(4) {
  color: #BD1550;
}

th:nth-child(5) {
  color: @fri-color;
  border-top: @th-border-top solid @fri-color;
}

td:nth-child(5) {
  color: @fri-color;
}

th:nth-child(6) {
  color: #F8CA00;
  border-top: @th-border-top solid #F8CA00;
}

td:nth-child(6) {
  color: #F8CA00;
}

th:nth-child(7) {
  color: @sun-color;
  border-top: @th-border-top solid @sun-color;
}

td:nth-child(7) {
  color: @sun-color;
}

.prev-month, .next-month {
  opacity: .4;
}

.prev-month:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 25%;
  height: 1pt;
  width: 50%;
  background: currentColor;
  z-index: 99;
  transform: rotate(8deg);
  -webkit-transform:rotate(8deg);
}

.holiday:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #d59797;
  left: 50%;
  bottom: 0;
  top: 50%;
  margin-left: -20pt;
  margin-top: -20pt;
  opacity: 0.3;
  width: 40pt;
  height: 40pt;
}
