@import "./bower_components/normalize.css/normalize.css";
@import "./bower_components/fontawesome/less/font-awesome";
@import url(http://fonts.googleapis.com/css?family=Lora|Open+Sans:400,300);

html {
  font-family: 'Open Sans', Helvetica, Verdana, Geneva, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.35rem;
  color: black;
  background: #f6f6f6;
}

h1 {
  margin: 20px 0;
  font: 2rem/2.5rem 'Open Sans', Helvetica, Verdana, Geneva, sans-serif;
}

// .printableCalendar {
//   display: none;
// }
